@import '../../assets/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//   font-size: 100%;
}

ul {
    list-style-type: none;
    // margin-left: 20px;
}

ol, ul, dl, p {
    margin: 0;
}

a {
    text-decoration: none;
}

p, a, h1, h2, h3, h4, h5, h6, ol, ul, li, input, select, option, label {
    font-family: $main_font;
    color: $main_color;
}

button { 
    font-family: $main_font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading_font;
    color: $heading_color;
    margin: 0;
}

h1 {
    font-size: 32px;
    // font: Bold 32px/40px;
    line-height: 40px;
    // letter-spacing: 10px;
}

select, input, label {
    display: block;
}

select, input, textarea {
    font-size: 15px;
}

.muted {
    color: $muted_color;
}


input[type=text] {
    border: 1px solid $dark_gray_color;
    border-radius: 3px;
    padding: 5px 10px;
    width: 100%;
}

.site-body {
    background: $body_background_color;
    flex: 1;
    min-height: 100vh;
    // min-height: 100%;
    // background: blue;
}

.site-container {
    max-width: 1200px;
    // background-color: yellow;
    margin: 0 auto;
}


// Modal
.modal-container {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 16px;
    // padding-top: 20%;
    justify-content: center;
    z-index: 1000;
    // transition: 1s all;
    // opacity: 1;

    // -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    //    -moz-animation: fadein 1s; /* Firefox < 16 */
    //     -ms-animation: fadein 1s; /* Internet Explorer */
    //      -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 0.2s;
    
    .modal-message {
        width: 100%;
        max-width: 400px;
        background: $dash-color-table-bg;
        border-radius: 5px;
        position: relative;
        animation: slideinfromtop 0.3s ease-in-out, fadein 0.3s;
        box-shadow: 0 12px 24px rgba(0,0,0,0.25);


        .modal-close {
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 24px;
            cursor: pointer;
            padding: 7px 14px;

            &:hover {
                opacity: 0.8;
            }
        }

        .modal-title {
            // padding: 12px 16px;
            // // background: red;
            // border-bottom: 1px solid $gray_color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // width: 280px;
            width: 100%;
            padding: 16px 16px 0 16px;
        }

        .modal-content {
            padding: 12px 16px;

            p {
                font-size: 14px;
            }

            .modal-field {
                padding: 5px 0;

                label {
                    padding-bottom: 5px;
                }
                input:disabled {
                    background: #f1f1f1;
                }
            }


            .modal-button-container {
                display: flex;
                justify-content: space-around;
                padding: 30px 0 12px 0;

            // border-top: 1px solid $gray_color;

            }

            .modal-error {
                color: red;
                // background: yellow;
                padding: 10px 0;
            }
        }
    }
}


// .modal-container {
//     background: rgba(0, 0, 0, 0.6);
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     display: flex;
//     align-items: center;
//     padding: 16px;
//     // padding-top: 20%;
//     justify-content: center;
//     z-index: 1000;
//     // transition: 1s all;
//     // opacity: 1;

//     // -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
//     //    -moz-animation: fadein 1s; /* Firefox < 16 */
//     //     -ms-animation: fadein 1s; /* Internet Explorer */
//     //      -o-animation: fadein 1s; /* Opera < 12.1 */
//             animation: fadein 0.2s;
    
//     .modal-message {
//         width: 100%;
//         max-width: 400px;
//         // width: 200px;
//         // height: 300px;
//         background: #fff;
//         border-radius: 6px;
//         position: relative;
//         animation: slideinfromtop 0.3s ease-in-out, fadein 0.3s;


//         .modal-close {
//             position: absolute;
//             top: 6px;
//             right: 9px;
//             font-size: 20px;
//             cursor: pointer;
//             padding: 4px;

//             &:hover {
//                 opacity: 0.8;
//             }
//         }

//         .modal-title {
//             padding: 12px 16px;
//             // background: red;
//             border-bottom: 1px solid $gray_color;
//         }

//         .modal-content {
//             padding: 12px 16px;

//             .modal-field {
//                 padding: 5px 0;

//                 label {
//                     padding-bottom: 5px;
//                 }
//                 input:disabled {
//                     background: #f1f1f1;
//                 }
//             }


//             .modal-button-container {
//                 display: flex;
//                 justify-content: space-around;
//                 padding: 30px 0 12px 0;

//             // border-top: 1px solid $gray_color;

//             }

//             .modal-error {
//                 color: red;
//                 // background: yellow;
//                 padding: 10px 0;
//             }
//         }
//     }
// }


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideinfromtop {
    from { top: -10px; }
    to   { top: 0px; }
}


.select-css {
	display: block;
	// font-size: 16px;
	// font-family: sans-serif;
	// font-weight: 700;
	// color: #444;
	// line-height: 1.3;
    // padding: .6em 1.4em .5em .8em;
    padding: 5px 10px;
	width: 100%;
	max-width: 100%;
	// box-sizing: border-box;
	// margin: 0;
	border: 1px solid $dark_gray_color;
	// box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	// border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}


// ot = overflow table
// the table is not a part of the white-bg class
// must be used outside for scroll to work all the way to the right
.ot-container {
    background: white;
    overflow: scroll;
    padding: 20px 0 40px 20px;
    // width: 50%;
    width: 100%;
    // padding: 20px 0 40px 6px;

    h3 {
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 8px;
    }


    .ot-table {
        // display: table;
        width: 100%;
        min-width: 900px;
        padding-right: 20px;
        // padding-right: 6px;


        .ot-row {
            // display: table-row;
            display: flex;
            background: white;
            padding: 12px 10px;
            color: $main_color;
            font-size: 14px;
            letter-spacing: 1.2px;
            margin-top: 10px;
            border-radius: 3px;
            box-shadow: 0px 5px 15px #5C636929;
            width: 100%;
            background: pink;

            // .ot-cell {
                // display: table-cell;
                // display: flex;
                // background: pink;

            // }
            a {
                color: $highlite_color;
            }

            .shimmer {
                position: relative;

                &:after {
                    content: '';
                    // position: absolute;
                    display: flex;
                    width: 75%;
                    height: 18px;
                    background: #ccc;
                    animation: shimmer 1.25s infinite;
                }
            }

            @keyframes shimmer {
                0% { background: #ccc; }
                50% { background: #aaa; }
                100% { background: #ccc; }
            }

            &:hover {
                background: #f0f0f0;
            }
        }

        .ot-row-header {
            // display: table-row;
            display: flex;
            padding: 0 10px;

            .ot-header {
                // display: table-cell;
                font-family: $heading_font;
                text-transform: uppercase;
                font-size: 12px;
                // letter-spacing: 1.2px;
                color: #7E92A3;
            }
        }
    }

    .ot-flex-one {
        flex: 1;
    }

    .ot-flex-two {
        flex: 2;
    }

    .ot-flex-three {
        flex: 3;
    }

    .ot-flex-four {
        flex: 4;
    }

    .ot-flex-five {
        flex: 5;
    }
}


.hide-mobile {
    display: none;
}


.dashboard-hamburger-icon {
    cursor: pointer;
    height: 27px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @for $i from 0 through 2 {
        .bar#{$i} {
            width: (100% - (20% * $i));
            height: 3px;
            background: $admin-color-lavendar;
            border-radius: 100px;
        }
    }
}


// container: {
//     cursor: 'pointer',
//     // marginLeft: 20,
//     height: 28,
//     width: 36,
//     display: 'flex',
//     flexDirection: 'column',
//     justifyContent: 'space-between'
// },
// bar1: {
//     width: '100%',
//     height: 4,
//     background: '#000',
//     borderRadius: 100
// },
// bar2: {
//     width: '80%',
//     height: 4,
//     background: '#000',
//     borderRadius: 100
// },
// bar3: {
//     width: '60%',
//     height: 4,
//     background: '#000',
//     borderRadius: 100
//     // alignSelf: 'flex-end'
// }

// .white-bg {
//     background: white;
//     width: 100%;
//     padding: 20px
// }

@media only screen and (min-width: 768px){

    .flex-one {
        flex: 1;
        // background: pink;
    }

    .flex-two {
        flex: 2;
        // background: blue;
    }

    .flex-three {
        flex: 3;
        // background: yellow;
    }

    .flex-four {
        flex: 4;
    }

    .flex-five {
        flex: 5;
        background: red;
    }

    .hide-desktop {
        display: none !important;
    }

    .hide-mobile {
        display: block;
    }
}


// .ot-container-dash {
//     background: white;
//     // background: blue;
//     overflow: scroll;
//     // padding: 20px 0 40px 20px;
//     // padding: 20px 0;

//     .ot-table {
//         // display: table;
//         width: 100%;
//         min-width: 900px;
//         // padding-right: 20px;

//         .ot-manage {
//             width: 15%;
//             min-width: 105px;
//             // background: yellow;

//             span {
//                 padding-right: 10px;

//                 &:last-child {
//                     padding-right: 0px;
//                 }
                
//                 img {
//                     cursor: pointer;
//                     // background: pink;
//                 }
//             }
//         }

//         .ot-row {
//             // display: table-row;
//             display: flex;
//             background: white;
//             padding: 12px 10px;
//             color: $main_color;
//             // font-size: 14px;
//             // letter-spacing: 1.2px;
//             border-bottom: 1px solid #EFF2F4;
//             // margin-top: 10px;
//             // border-radius: 3px;
//             // box-shadow: 0px 5px 15px #5C636929;

//             // .ot-cell {
//                 // display: table-cell;
//                 // display: flex;
//                 // background: pink;

//             // }

//             .shimmer {
//                 position: relative;

//                 &:after {
//                     content: '';
//                     // position: absolute;
//                     display: flex;
//                     width: 75%;
//                     height: 18px;
//                     background: #ccc;
//                     animation: shimmer 1.25s infinite;
//                 }
//             }

//             @keyframes shimmer {
//                 0% { background: #ccc; }
//                 50% { background: #aaa; }
//                 100% { background: #ccc; }
//             }

//             // &:hover {
//             //     background: #f0f0f0;
//             // }
//         }

//         .ot-row-header {
//             // display: table-row;
//             display: flex;
//             // padding: 0 10px 10px;
//             padding: 10px;
//             border-bottom: 1px solid #EFF2F4;
            
//             .ot-header {
//                 display: flex;
//                 align-items: center;
//                 font-size: 16px;
//                 // display: table-cell;
//                 font-family: $heading_font;
//                 text-transform: uppercase;
//                 // font-size: 12px;
//                 // letter-spacing: 1.2px;
//                 color: #7E92A3;
//             }
//         }
//     }

//     .ot-flex-one {
//         flex: 1;
//     }

//     .ot-flex-two {
//         flex: 2;
//     }

//     .ot-flex-three {
//         flex: 3;
//     }

//     .ot-flex-four {
//         flex: 4;
//     }

//     .ot-flex-five {
//         flex: 5;
//     }
// }


.dot {
    height: 6px;
    width: 6px;
    background: $dash-color-table-ellipsis;
    border-radius: 100%;
    margin: 0 2px;
}

.draggable-icon {
    padding: 6px;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;

    & > div {
        display: flex;
        padding-top: 3px;

        &:first-child {
            padding-top: 0;
        }
    }
}


.ot-container-dash-r {
    background: $dash-color-table-bg;
    // background: white;
    overflow: scroll;
    // padding: 20px 0 40px 20px;
    // padding: 20px 0;

    .ot-table {
        // display: table;
        width: 100%;
        min-width: 900px;
        // padding-right: 20px;


        .ot-row-header {
            // display: table-row;
            display: flex;
            // padding: 0 10px 10px;
            padding: 16px 10px;
            // border-bottom: 1px solid #EFF2F4;
            border-bottom: 2px solid $dash-color-silver;
            // border-bottom: 2px solid red;

            
            .ot-header {
                display: flex;
                align-items: center;
                font-size: 13px;
                // display: table-cell;
                font-family: $main-font;
                text-transform: uppercase;
                // font-size: 12px;
                // letter-spacing: 1.2px;
                // color: #7E92A3;
                color: $dash-color-table-header;
                font-weight: bold;

                &.selected {
                    color: $admin-color-highlite;
                }
            }
        }



        .ot-manage {
            width: 15%;
            min-width: 105px;
            // background: yellow;

            span {
                padding-right: 10px;

                &:last-child {
                    padding-right: 0px;
                }
                
                img {
                    cursor: pointer;
                    // background: pink;
                }
            }
        }

        .ot-row {
            display: flex;
            // position: relative;
            padding: 12px 10px;
            // background: pink;
            // border-bottom: 1px solid #EFF2F4;
            border-bottom: 1px solid $dash-color-silver;
            width: 100%;

            p.ot-cell {
                font-size: 14px;
                color: $dash-color-font;
                display: flex;
                align-items: center;
            }

            .shimmer {
                position: relative;

                &:after {
                    content: '';
                    display: flex;
                    width: 75%;
                    height: 18px;
                    background: #ccc;
                    animation: shimmer 1.25s infinite;
                }
            }

            @keyframes shimmer {
                0% { background: #ccc; }
                50% { background: #aaa; }
                100% { background: #ccc; }
            }

            // &:hover {
            //     background: #f0f0f0;
            // }

            &:last-child .ot-options-popout  {
                // background: green;
                // margin-top: -80px;
                margin-top: -15%;
            }

            .ot-options-popout {
                // background: lightgoldenrodyellow;
                background: $dash-color-table-bg;
                position: absolute;
                // top: 100%;
                // top: 20px;
                margin-top: 20px;
                // margin-top: -80px;  // bottom 2 rows should be set to this
                right: 26px;
                padding: 13px;
                z-index: 200000;
                min-width: 200px;
                // height: 100%;

                border-radius: 5px;
                box-shadow: 0 12px 24px rgba(0,0,0,0.25);

                ul li {
                    font-family: $heading-font;
                    color: $dash-color-table-ellipsis;
                    font-size: 16px;
                    padding: 6px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    
                    &:hover:not(.not-available) {
                        // color: darken($dash-color-table-ellipsis, 20%)
                        color: $dash-color-font;
                    }

                    &.not-available {
                        cursor: not-allowed;
                    }

                    img {
                        margin-right: 16px;
                    }
                }
            }

        }


        button.ot-ellipsis {
            min-width: auto;
            min-height: auto;
            background: transparent;
            display: flex;
            align-items: center;
            padding: 6px;
            cursor: pointer;
            outline: none;
            border: none;

            // could be nice to have border and/or background color on ellipsis houver
            // border:1px solid transparent;
            // &:hover {
            //     border:1px solid $dash-color-table-ellipsis;
            //     background: #F1F1F5;
            //     border-radius: 5px;
            // }

            &.hidden {
                visibility: hidden;
            }

            .dot {
                height: 6px;
                width: 6px;
                background: $dash-color-table-ellipsis;
                border-radius: 100%;
                margin: 0 2px;
            }
        }


    }

    .ot-flex-one {
        flex: 1;
    }

    .ot-flex-two {
        flex: 2;
    }

    .ot-flex-three {
        flex: 3;
    }

    .ot-flex-four {
        flex: 4;
    }

    .ot-flex-five {
        flex: 5;
    }
}