//COLORS

$main_color: #424450;
$background_color: #333541;


// $main_font_color: #333333;
$main_font_color: #333333;

$nav_link: #6F6F6F;

$white_color: #FFFFFF;
$gray_color: #EFF2F4;
$dark_gray_color: #BFC1C3;

$accent_blue_color: #50C0F0;


//FONTS
$main_font: 'KoHo', sans-serif;
$heading_font: $main_font;

// $button_font: 'Poppins', sans-serif;


// #424450 - Blue Grey (container color)
// #333541 - Deep Blue (background color)

// Font Colors:
// #DEDEDE - Main font color
// #6F6F6F - Nav Link (unselected)

