//COLORS

$main_color: #424450;
$background_color: #333541;


// $main_font_color: #333333;
$main_font_color: #333333;

$nav_link: #6F6F6F;

$white_color: #FFFFFF;
$gray_color: #EFF2F4;
$dark_gray_color: #BFC1C3;

$accent_blue_color: #50C0F0;

$danger_color:        #C22626;  // red
$danger_color_light:  #DA4141;  // light red

$success_color:       #2CA62C;  // green
$success_color_light: #D9EDDB;  // light green

$warning_color:       #BABA1E;  // yellow
$warning_color_light: #F8F8B2;  // light yellow

//FONTS
// $main_font: 'KoHo', sans-serif;

// $heading_font: $main_font;

// $button_font: 'Poppins', sans-serif;


// #424450 - Blue Grey (container color)
// #333541 - Deep Blue (background color)

// Font Colors:
// #DEDEDE - Main font color
// #6F6F6F - Nav Link (unselected)


// use these new format
//FONTS

$main_font:     'Open Sans', sans-serif;
$main_color:    #333333;            // near black
$heading_font:  'Nunito Sans', sans-serif;
$heading_color: #0C1D40;            // dark blue

// $body_background_color: red;
$body_background_color: #F0F0F0;    // off white
$muted_color:           #7E92A3;    // light gray
$highlite_color:        #19AEC0;    // light blue
$white_color:           #FFFFFF;    // white
$header_sidenav_color:  #0C1D40;    // dark blue

$max_container_width: 1640px;
// $media-query-



// VERSION 4 ADMIN (admin) STYLES 



// $v4a_main_font:
$v4a_main_font_color: #333333;
// $v4a_heading_font:
// $v4a_heading_font_color:

$v4a_body_background_color: #F6F8FB;
$v4a_muted_color: #8AA6C4;
$v4a_highlite_color: #FF815C; // #FFAF98 soft highlite in button icon
$v4a_white_color: #FFFFFF;
$v4a_navy_color: #050949;


//different naming convention?

$main-font:     'Open Sans', sans-serif;
$heading-font:  'Nunito Sans', sans-serif;

$dash-color-font: #333333;

$universal-color-black: #000000;

$admin-color-body:        #F6F8FB;    // light gray
// $admin-color-body: #f5f8fb;
$admin-color-muted:       #8AA6C4;    // soft blue
$admin-color-highlite:    #FF815C;    // #FFAF98 soft highlite in button icon
$admin-color-white:       #FFFFFF;    // white
// $admin-color-off-white:   #F1F1F1;    // off white
$admin-color-off-white:   #F2F2F2;    // off white


$admin-color-navy:        #050949;    // dark navy
$admin-color-slate:       #1D215B;    // slate blue
$admin-color-lavendar:    #BABBCD;    // lavendar

$admin-color-green:       #2CA62C;    // green
$admin-color-lightgreen:  #D9EDDB;    // light green

$admin-color-yellow:      #BABA1E;    // yellow
$admin-color-lightyellow: #F8F8B2;    // light yellow

$dash-color-silver:       #F6F8FB;    // silver

//                 //
// DASHBOARD TABLE //
//                 //

$dash-color-table-bg: $admin-color-white;
$dash-color-table-header: $admin-color-muted;
$dash-color-table-ellipsis: $admin-color-lavendar;

// status green text and border #2CA62C - bg-color #D9EDDB
// status inactive uses MUTED color - bg-color #FAFAFC | #E5EBF2


// this lets you add this file into javascript and get the variable from the key
// :export {
//     white: $v4a_main_font_color
// }