@import './variables';

.dashboard-container {
    background: $body_background_color;
    // font-family: $main_font;
    min-height: 100vh;
    height: 100%;

    a {
        color: $nav_link;
    }

    .dashboard-content {
        width: 100%;
    }

    // .dashboard-header {
    //     background: $gray_color;
    //     border-bottom: 5px solid $white_color;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 10px;
    //     position: relative;

    //     .dashboard-header-img {
    //         background: #aaa;
    //         height: 40px;
    //         width: 40px;
    //         border-radius: 100%;
    //         cursor: pointer;
    //     }

    //     .dashboard-settings-container {
    //         // height: 100%;
    //         // width: 100%;
    //         // position: absolute;
    //         // top: -100%;
    //         // left: 0;
    //         // transition: all 0.4s;

    //         position: absolute;
    //         // top: -100%;
    //         // left: 0;
    //         // transition: all 0.4s;


    //         visibility: hidden;
    //         // width: auto;
    //         // height: auto;

    //         width: 60%;
    //         top: calc(100% + 5px);
    //         left: auto;
    //         // right: 10px;
    //         right: 0;
    //         // transition: none;
    //         transition: opacity .25s linear;
    //         z-index: 1200;
    //         opacity: 0;
    //         // background: green;
    //         background: #ccc;

    //         &:before {
    //             content: '';
    //             position: absolute;
    //             top: -5px;
    //             right: 20px;
    //             transform: rotate(45deg);
    //             z-index: -1;
    //             height: 20px;
    //             width: 20px;
    //             background: #ccc;
    //         }

    //         &.slide-down {
    //             transform: none;
    //             visibility: visible;
    //             opacity: 1;
    //         }


    //         .profile-image {
    //             height: 25%;
    //             width: 100%;
    //             // background: #dce5f8;
    //             background: #e3e3e3;
    //             padding: 10px 20px;
    //             // display: flex;
    //             // flex-direction: column;
    //             // align-items: center;
    //             // justify-content: center;
                
    //             h4.name {
    //                 font-size: 20px;
    //             }

    //             p.admin-type {
    //                 font-size: 15px;
    //             }
    //         }

    //         .profile-links-container {
    //             // background: $header_sidenav_color;
    //             // height: 75%;
    //             // display: flex;
    //             // align-items: center;
    //             // justify-content: center;


    //             li {
    //                 // margin: 10px 0;
    //                 // background: red;
    //                 // font-size: 22px;
    //                 cursor: pointer;
    //                 border-bottom: 1px solid #8e8e8e;

    //                 &:last-child {
    //                     border-bottom: none;
    //                 }

    //                 // &:last-child {
    //                 //     display: flex;
    //                 //     align-items: center;
    //                 //     justify-content: center;
    //                 //     color: $white_color;
    //                 //     text-transform: uppercase;
                        
    //                 //     p {
    //                 //         color: $white_color;

    //                 //         &:hover {
    //                 //             color: $highlite_color;
    //                 //         }
    //                 //     }
    //                 // }
                    
                    
    //                 a, p {
    //                     display: flex;
    //                     // align-items: center;
    //                     // justify-content: center;
    //                     padding: 15px 20px;
    //                     // color: $white_color;
    //                     color: #6F6F6F;
    //                     text-transform: uppercase;
    //                     &:hover {
    //                         color: $highlite_color;
    //                     }
    //                 }

    //                 .selected {
    //                     color: $highlite_color;
    //                 }

    //             }
    //         }
    //     }
    // }



    .dashboard-header {
        background: $admin-color-navy;
        border-bottom: 5px solid $white_color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;
        height: 64px;

        .header-logo {
            max-height: 50px;
            max-width: 100px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

// .slide-down {
//     transform: none;
//     visibility: visible;
//     opacity: 1;
// }

// .slide-down {
//     transform: translateY(100%);
// }

// @keyframes slide-down {
//     0%   { transform: translateY(0%);}
//     100% { transform: translateY(100%);}
// }

// @media only screen and (min-width: 768px) {

//     .dashboard-container {
//         display: flex;

//         .dashboard-header {
//             padding: 10px 20px;
//             position: relative;

//             .dashboard-settings-container {
//                 width: auto;
//                 right: 10px;
//             }
//         }
//     }
// }