@import './variables';

.dashboard-container {
    background: $white_color;
    font-family: $main_font;

    a {
        color: $nav_link;
    }
}

@media only screen and (min-width: 768px) {
    .dashboard-container {
        display: flex;
    }
}