@import './variables';

.dashboard-container {
    background: $admin-color-body;
    height: 100%;

    // ant overrides
    &.ant-layout {
        min-height: 100vh;
    }

    .dashboard-content {
        width: 100%;
    }

    .dashboard-header {
        background: $admin-color-navy;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
        position: relative;
        height: 64px;

        .header-logo {
            max-height: 50px;
            max-width: 100px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}


@media only screen and (min-width: 768px) {

    .dashboard-container {
        display: flex;
    }
}

// DASHBOARD MENU STYLES
.dashboard-nav-menu {
    background: $admin-color-navy;    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    // remove height 100% for mobile view (Drawer Component)
    @media only screen and (max-width: 768px) {
        height: auto;
    }

    h3 {
        text-transform: uppercase;
        font-size: 14px;
        padding-left: 16px;
        letter-spacing: 0.9px;
        color: $admin-color-off-white;
    }

    .dashboard-nav-header2 {
        display: flex;
        align-items: center;
        padding: 16px 16px 25px 16px;
    
        h2 {
            font-size: 20px;
            line-height: 24px;
            color: $admin-color-off-white;
        }
    
        p {
            font-size: 13px;
            color: $admin-color-lavendar;
        }
        
        img {
            max-width: 50px;
            max-height: 50px;
        }
    }

    .menu {
        background-color: transparent;

        &:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background-color: initial !important;
    
            &:hover {
                background: #363a6d !important;            
            }
        }

        // ant overrides
        .ant-menu-item {
            cursor: pointer;
            height: auto;
            padding: 0;
            margin: 0 !important;
    
            &:hover {
                background: #363a6d;
            }
    
            a {
                display: flex;
                align-items: center;
                padding: 4px 0;
                font-size: 14px;
                font-family: $heading-font;
                color: $admin-color-off-white;
    
            }
        }

        // override antd
        .ant-menu-item-selected {
            background-color: initial;
    
            &:hover {
                background: #363a6d;
            }
        }

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            margin-right: 10px;
            margin-left: 38px;
            background: #1D215B;
            border-radius: 5px;
            padding: 6px;

            //set the SVG to this color when not selected by NavLink
            & > * > *, 
            & > * > * > * {
                fill: $admin-color-lavendar;
            }
        }

        
        .selected2 {
            
            .icon-container {
                background: $admin-color-highlite;
                position: relative;

                // if the selected class is applied by NavLink 
                // component, change the fill of the SVG
                & > * > *, 
                & > * > * > * {
                    fill: $admin-color-off-white;
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: -20px;
                    height: 100%;
                    width: 4px;
                    background: $admin-color-highlite;
                }
            }
        }
    }

    .powered-by {
        font-size: 13px;
        font-family: $heading-font;
        color: $admin-color-lavendar;
        text-decoration: underline;
    
        &:hover{
            color: $admin-color-off-white;
        }
    }
}
