@tailwind base;
@tailwind components;
@tailwind utilities;

@import './ant-overrides.scss';


// TODO: news body needs custom styles

.--news-body {
    p, ol, li {
        letter-spacing: 1.2px;
        font-size: 14px;
        line-height: 24px;
    }

    ol, ul {
        margin-left: 24px;
    }

    ul {
        list-style-type: circle;
    }
}



input:checked + div {
    @apply border-blue-500;
}
input:checked + div svg {
    @apply block;
}