@tailwind base;
@tailwind components;
@tailwind utilities;

@import './ant-overrides.scss';


body, h1, h2, h3, h4, h5, h6, p {
    @apply text-black;
}

// TODO: news body needs custom styles

.--news-body {
    p, ol, li {
        letter-spacing: 1.2px;
        font-size: 14px;
        line-height: 24px;
    }

    ol, ul {
        margin-left: 24px;
    }

    ul {
        list-style-type: circle;
    }
}



input:checked + div {
    @apply border-blue-500;
}
input:checked + div svg {
    @apply block;
}



.flex-one {
    flex: 1;
}
.flex-two {
    flex: 2;
}
.flex-three {
    flex: 3;
}
.flex-four {
    flex: 4;
}
.flex-five {
    flex: 5;
}