.f {
    display: flex;
}

.f-align-start {
    display: flex;
    align-items: flex-start;
}

.f-align-center {
    display: flex;
    align-items: center;
}

.f-justify-between {
    display: flex;
    justify-content: space-between;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.f-justify-end {
    display: flex;
    justify-content: flex-end;
}

.f-justify-center {
    display: flex;
    justify-content: center;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.f-1 { flex: 1; }
.f-2 { flex: 2; }
.f-3 { flex: 3; }
.f-4 { flex: 4; }
.f-5 { flex: 5; }

.text-center {
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}