.inquiry-input-container {
    margin: 20px 0;

    & > div {
        margin: 20px 0;
    }
}

.inquiry-select-container {
    margin-bottom: 30px;
}

.inquiry-button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.custom-textarea { 
    width: 100%;
    height: 200px;
    border: 2px solid #7E92A3 !important;
    width: 100%;
    padding: 8px 10px !important;
    border-radius: 3px;
    resize: none;
    background: #fff;

    &:focus {
        outline: 0;
        box-shadow: 0;
    }

    &::placeholder {
        color: transparent;
    }

    &:focus {
        border-color: #19AEC0 !important;
    }
}


@media only screen and (min-width: 768px){

    // .inquiry-form {
    //     padding: 0 30px;
    // }

    .inquiry-select-container {
        max-width: 45%;
    }

    .inquiry-input-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        & > div {
            width: 45%;
            margin: 0;
        }
    }
}