@import '../../../assets/styles/variables';

.news-container {
    // padding: 20px 10px;
    width: 100%;

    &-card {
        background: $white_color;
        padding: 20px 10px;
        border-radius: 3px;
        // margin-bottom: 20px;
        margin-bottom: 30px;
        width: 100%;

        .headline-container {
            display: flex;
            justify-content: space-between;

            h1 {
                padding-right: 26px;
            }
        }

        .posted-date,
        .posted-by {
            font-size: 11px;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #7E92A3;
        }

        .posted-date-container {
            padding: 10px 0;
        }

        .posted-by {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 700;
            color: #2B4272;
        }

        hr {
            border: none;
            border-top: 1px solid #f1f1f1;
            margin: 20px 0;
        }

        .view-more-container {
            display: flex;
            justify-content: center;
            padding-top: 5px;
            position: relative;

            input[type=button] {
                border: 1px solid $muted_color;
                color: $muted_color;
                text-transform: uppercase;
                border-radius: 3px;
                padding: 10px 20px;
                outline: none;
                cursor: pointer;
                font-family: $heading_font;
                // font-weight: bold;
                letter-spacing: 1.4px;
            }
        }



        .news-body {
            
            p, ol, li {
                letter-spacing: 1.2px;
                font-size: 14px;
                line-height: 24px;
                // line-height: 32px;
            }

            ol {
                margin-left: 24px;
            }
        }

        .news-body.show-less {
            position: relative;
            // height: 100px;
            // overflow: hidden;

            // &:after {
            //     content: '';
            //     height: 50px;
            //     width: 100%;
            //     position: absolute;
            //     bottom: 0;
            //     background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            //     background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            //     background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // }
        }

    }
}

.tag {
    border-radius: 3px;
    padding: 5px 10px;
    align-self: flex-start;
    display: flex;
    color: white;
    font-size: 12px;
    font-family: $heading_font;
    font-weight: bold;
}



@media only screen and (min-width: 768px){


    .news-container {
        // padding: 20px 10px;
    
        &-card {
            padding: 24px;

    .posted-date-container {
        // padding: 10px 0;
        // background: yellow;
        // padding: 100px;
        display: flex;
        justify-content: space-between;

        & > div {
            display: flex;
            align-items: center;
        }

        .posted-date:nth-child(2) {
            padding-left: 24px;
        }

        .posted-by {
            padding-left: 24px;
        }

    }
}
    }

}