@import '../../../assets/styles/variables';

// add this to app.scss and convert files to use this structure
.content-container {
    padding: 30px 10px 50px;

    .white-bg {
        background: white;
        padding: 20px;
    }
}

.single-team-container {
    padding: 30px 10px 50px;
}

.single-team-info {
    // width: 100%;
    display: flex;

    .single-team-logo {
        display: flex;
        align-items: center;
        padding-right: 10px;

        .actual-image {
            height: 100px;
            width: 100px;
            background: $heading_color;
        }
    }

    .single-team-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.team-color-square {
    margin: 0 3px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

.single-team-season-record {
    padding-top: 20px;

    // table {
    //     font-family: $main_font;
    //     border-collapse: collapse;
    //     width: 100%;

    //     thead tr:first-child {
    //         border-bottom: 1px solid gray;
    //     }
    //     th {
    //         color: gray;
    //         text-align: left;
    //         font-size: 14px;
    //     }
    
    //     td {
    //         font-weight: bold;
    //         font-size: 18px;
    //     }
    // }
}

.single-team-record-header {
    display: flex;
    border-bottom: 1px solid $muted-color;
    padding-bottom: 4px;
    margin-bottom: 4px;
}


.single-team-tabs {
    input {
        display: none;

        &:checked + label {
            color: $heading_color;
            background: $white_color;
            border: none;
        }
    }

    label {
        display: inline-block;
        padding: 10px 12px;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: $highlite_color;
        border: none;
        font-family: $heading_font;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &:hover {
            color: #888;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 768px){

    .single-team-content {
        display: flex;
        justify-content: space-between;
    }

    .single-team-season-record {
        padding-top: 0;
        width: 50%;
        max-width: 400px;
    }

    // .single-team-record-header {
    //     display: flex;
    //     border-bottom: 1px solid $muted-color;
    //     padding-bottom: 4px;
    //     margin-bottom: 4px;
    // }

    .split-50 {
        display: flex;
        justify-content: space-between;
    }
}
