@import '../../../assets/styles/variables';
@import '../../../assets/styles/spacing';

.registration-register-as {

    .register-as-btn {
        color: black;
        border: 1px solid black;
        background: lightgray;
        height: 200px;
        width: 100%;
        // max-width: 160px;
        border-radius: 10px;
        cursor: pointer;
        margin: 20px;

        // &:first-child {
        //     margin-left: 0;
        // }

        // &:last-child {
        //     margin-right: 0;
        // }


        span {
            display: block;
            margin: 0 auto;
            
            &:first-child {
                text-transform: uppercase;
                font-size: 13px;
            }

            &:nth-last-child(2) {
                font-size: size('m');
            }

            &:last-child {
                text-transform: uppercase;
                border-radius: 50px;
                width: 100px;
                border: 1px solid red;
                background-color: pink;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

}

.registration-container {
    background: $white_color;
    margin-top: 20px;

    .section-border {
        padding-bottom: 10px;
        // border-bottom: 1px solid $silver_color;
        border-bottom: 1px solid #F6F8F8;
    }

    .registration-header {
        width: 100%;
        padding: 10px 0;
        background: $main_color;
        // background: $heading_color;
        color: $white_color;
        text-align: center;
    }

    .registration-body {
        padding: size('xs');
        // padding: size('s');

        .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
        .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after,
        .ant-steps-item-process .ant-steps-item-icon {
            background-color: $highlite_color;
            border-color: $highlite_color;
        }

        .ant-steps-item-finish .ant-steps-item-icon,
        .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
            border-color: $highlite_color;
            color: $highlite_color;
        }

        .registration-form {
            // background: pink;
            padding: size('xs');
            border: 1px solid #F6F8F8;

            .fields-group {
                padding-top: size('l');
                padding-bottom: size('m');

            }
            
        }

        .waiver-container {
            background: #F6F8F8;
            padding: size('xs');
        }
    }
}

// custom size
@media only screen and (min-width: 460px) {
    .registration-register-as .register-as-btn {
        max-width: 160px;
    }
}


@media only screen and (min-width: 768px){
    .registration-container {
        // background: $white_color;
        // height: 500px;
    
        // .registration-header {
        //     width: 100%;
        //     padding: 10px 0;
        //     background: $main_color;
        //     color: $white_color;
        //     text-align: center;
        // }
    
        .registration-body {
            padding: size('l');

            .registration-form {
                padding: size('m');

                .fields-group {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    &>* {
                        width: 48%;
                        // background: pink;
                    }
                }

            }
            .waiver-container {
                // background: #f6f0f8;
                padding: size('m');
                // max-height: 260px;
                overflow: scroll;
            }

            .sign-download-container {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
