.dashnews-container {

    // background: yellow;
    background: white;
    padding: 20px;
    margin: 20px;

    .rte-container {

        button {
            // font-size: inherit;
            min-width: 0;
            min-height: 0;
        }
    }
}