button {
    padding: 10px 20px;
    min-width: 150px;
    min-height: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background: #19AEC0
}

button.disabled {
    cursor: not-allowed;
    color: #7E92A3;
    background: #EAEEF5;
}

button.cancel {
    color: #7E92A3;
    background: #FFFFFF;
}

button.danger {
    background: #D62B2B;
}

// button.success {

// }

// button:not(.danger):not(.disabled):not(.cancel):hover {
//     // background: #2B4272;
//     background: lighten(#19AEC0, 10%);
// }

button:not(.disabled):not(.cancel):hover {
    // background: #2B4272;
    // background: lighten(#19AEC0, 10%);
    opacity: 0.8;
}