@import '../assets/styles/variables';

button.btn {
    line-height: unset; // from antd

    padding: 10px 20px;
    min-width: 150px;
    min-height: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: $white_color;
    background: $highlite_color; 
}

button.admin {
    background: $admin-color-highlite;
}

button.disabled {
    cursor: not-allowed;
    color: $muted_color;
    background: #EAEEF5;
}

button.cancel {
    color: $v4a_main_font_color;
    background-color: transparent;
}

button.danger {
    background: $danger_color;
}

button.outline {
    border: 1px solid $muted_color;
    color: $muted_color !important;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 20px;
    outline: none;
    font-family: $heading_font;
    letter-spacing: 1.4px;
    background: transparent;
}

button.success {
    background: $success_color;
}

button:not(.disabled):not(.cancel):hover {
    opacity: 0.8;
}
