@import '../assets/styles/variables';


.dashboard-nav {
    background: $white_color;
    width: 80vw;
    height: 100%;
    position: relative;


    &.bluebg {
        // background: $header_sidenav_color;
        background: transparent linear-gradient(180deg, #2B4272 0%, #0C1D40 100%) 0% 0% no-repeat padding-box;
    }


    // slide from right
    &.right {
        position: absolute;
        right: 0;
    }


    div.close {
        border: none;
        position: absolute;
        right: 10px;
        font-size: 30px;
        padding: 10px;
        cursor: pointer;
        color: $main_font_color;

        &.bluebg {
            color: $white_color;
        }
    }

    .dashboard-nav-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px 10px 30px;
        color: $main_font_color;


        > div:first-child > * > * {
           fill: $main_font_color;
       }
    }

    // .dashboard-nav-header:first-child {
    //     // background: pink;
    // }

    .selected {
        color: $main_font_color;
        background: darken($white_color, 10%);

        //if the selected class is applied by NavLink 
        //component, change the fill of the SVG
        .nav-icon-container > * > *, 
        .nav-icon-container > * > * > * {
            fill: $main_font_color;
        }
    }

    .nav-icon-container {
        display: flex;
        justify-content: center;
        width: 40px;
        margin-right: 10px;
        margin-left: 30%;
        color: inherit;
    }

    //set the SVG to this color when not selected by NavLink
    .nav-icon-container > * > *, 
    .nav-icon-container > * > * > * {
        fill: $nav_link;
    }

    li a {
        display: flex;
        align-items: center;
        padding: 15px 0;
    }

    li a:hover {
        background: darken($white_color, 10%);
    }
}




@media only screen and (min-width: 768px) {


    .dashboard-nav {
        width: 100%;
        .nav-icon-container {
            margin-left: 18%;
        }
    }
}