@import '../assets/styles/variables';

// padding is being called on line 4, need to refactor the dashboard nav css
.dashboard-nav-container .dashboard-nav-sliding-container .dashboard-nav li a {
    padding: 10px 20px;
}

// this is for subLinks padding
.dashboard-nav-container .dashboard-nav-sliding-container .dashboard-nav li .navBoiStyle li a {
    padding: 10px 40px;
}
header {
    background: $heading_color;
    width: 100%;
    padding: 16px 16px;

    .dashboard-nav { 
        .logo {
            padding: 30px;
            height: auto;
        }
    }

    .hamburger-menu {
        height: 26px;
        width: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        .line {
            border-bottom: 2px solid $body_background_color;
            width: 100%;

            &:first-child {
                width: 50%;
                align-self: flex-end;
            }
    
            &:nth-child(3) {
                width: 50%;
                align-self: flex-start;
            }
        }

    }

    .site-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hide-desktop { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        height: 40px;

        h2 {
            color: $white_color;
        }

        > div:first-child > * > * {
        //    fill: $main_font_color;
           fill: $white_color;

       }
    }

    ul {
        li {
            position: relative;

            a {
                // padding is being called on line 4, need to refactor the dashboard nav css
                color: $white_color;
                font-family: $heading_font;
                text-transform: uppercase;
                
                &:hover, &:hover .arrow {
                    color: $highlite_color;
                    border-color: $highlite_color;
                }

                & > div {
                    margin-right: 20px;
                }

                .arrow {
                    position: absolute;
                    right: 16px;
                    top: 14px;
                    border: solid $white_color;
                    border-width: 0 2px 2px 0;
                    padding: 5px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }


            .navBoiStyle {
                display: none;

                li {
                    position: relative;

                    a {
                        display: block;
                        padding: 10px 20px;
                        // padding is being called on line 9, need to refactor the dashboard nav css
                        color: $white_color;
                        font-family: $heading_font;
                        text-transform: uppercase;
                        
                        &:hover {
                            color: $highlite_color;
                        }
        
                        & > div {
                            margin-right: 20px;
                        }
                    }
                }
            }

            &:hover .navBoiStyle {
                display: block;
            }

            .selected {
                background: transparent !important;
                color: $highlite_color !important;
                position: relative;

                .arrow {
                    border-color: $highlite_color;
                }

                &:after {
                    content: '';
                    height: 100%;
                    width: 10px;
                    background: $highlite_color !important;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }   
}


@media only screen and (min-width: 768px){

    header {
        padding: 10px 0;

        .logo {
            padding: 2px 20px 2px 10px;
            height: auto;
        }
        
        ul {
            display: flex;
            flex-wrap: wrap;
            
            li {
                padding: 12px 0px;
                position: relative;

                a {
                    padding: 12px 20px !important;
                    
                    &:hover {
                        color: $highlite_color;
                        
                    }

                    .arrow {
                        right: -25px;
                    }
                }

                .navBoiStyle {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: $heading_color;
                    padding: 0 10px;
                    z-index: 100;

                    li{
                        padding: 12px 0px;
                        position: relative;
                        width: 100%;
                        white-space: nowrap;

                        a {
                            padding: 12px 20px !important;
                            
                            &:hover {
                                color: $highlite_color;
                            }
                        }

                        &:first-child {
                            padding-top: 19px;
                        }
                    }
                }

                &:hover .navBoiStyle {
                    display: block;
                }
                
                .selected {
                    background: transparent !important;
                    border-bottom: 2px solid $highlite_color;
                    color: $highlite_color !important;

                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}



