.login-form {
    max-width: 368px;
    margin: 80px auto !important;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    border-radius: 5px;
    padding: 20px !important;
    opacity: 0;
}
 