@import '../assets/styles/variables';

.pagination-full-width {
    display: flex;
    justify-content: flex-end;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 420px;
    align-self: flex-end;

    .right,
    .left {
        padding: 0 20px;
        position: relative;

        &.disabled {
            cursor: default;

            &:after {
                border-color: $admin-color-muted;
            }
        }
    }

    .right:after {
        content: '';
        position: absolute;
        border-right: 2px solid $admin-color-highlite;
        border-bottom: 2px solid $admin-color-highlite;
        height: 10px;
        width: 10px;
        transform: rotate(-45deg) translate(60%, 0%);
        top: 45%;
        right: 50%;
    }

    .left:after {
        content: '';
        position: absolute;
        border-right: 2px solid $admin-color-highlite;
        border-bottom: 2px solid $admin-color-highlite;
        height: 10px;
        width: 10px;
        transform: rotate(135deg) translate(-60%, -15%);
        top: 45%;
        right: 50%;
    }

    span {
        display: inline-block;
        padding: 4px 10px;
        font-family: $main-font;
        cursor: pointer;
        color: $admin-color-highlite;

        &.current-page {
            background: $admin-color-highlite;
            border-radius: 5px;
            color: $admin-color-white;
        }
    }
}


@media only screen and (min-width: 768px){

    .pagination-container {
        width: auto;

        span {
            margin: 0 6px
        }
    }
}
