@import '../assets/styles/variables';

// @keyframes slideinfromtop2 {
//     from { top: 100%}
//     to   { top: calc(100% + 10px); }
// }

.popover {
    background: $dash-color-table-bg;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    padding: 13px;
    z-index: 200;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.25);
    animation: fadein 0.2s;
    // animation: slideinfromtop2 0.3s ease-in-out, fadein 0.2s;

    &.full-width {
        width: calc(100vw - 32px);
    }

    ul li {
        font-family: $heading-font;
        color: $dash-color-font;
        font-size: 16px;
        padding: 6px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover:not(.not-available),
        &:hover a,
        .profile-pic-nav-selected {
            // color: $dash-color-table-ellipsis;
            color: $admin-color-highlite;
        }

        &.not-available {
            cursor: not-allowed;
        }

        a {
            font-family: inherit;
        }

        img {
            margin-right: 16px;
        }
    }

    &.row {
        top: auto;
        margin-top: 20px;
        right: 26px;
    }


    .popover-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .clear-btn {
            color: $admin-color-highlite;
            cursor: pointer;
        }
    }

    .popover-section {
        margin: 10px 0;

        h5 {
            font-size: 14px;
            padding-bottom: 6px;
            padding-top: 10px;
        }

        .popover-checkbox-container {
            display: flex;
            flex-wrap: wrap;

            > div {
                flex-basis: 50%;    
                padding: 5px 0;
            }
        }
    }
}


@media only screen and (min-width: 768px){
    .popover.full-width {
        max-width: 280px;
    }
}