@import '../assets/styles/variables';

.profile-pic-container {
    // background: lightblue;
    display: inline-block;
    position: relative;
    // float: right;

    .pic-name {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .pic-image-filler {
            height: 40px;
            width: 40px;
            background: green;
            border-radius: 5px;
        }

        .name-icon {
            // display: flex;  // dont display flex in mobile styles otherwise will show up on mobile page
            align-items: center;
            // background: pink;
            // padding: 0 10px;
            padding-left: 10px;
            // color: $admin-color-lavendar;

            span {
                display: flex;
                margin-left: 10px;
                transition: transform 0.4s;

                // &.rotate-arrow {
                //     transform: rotate(180deg);
                // }

                svg {
                    // fill: $admin-color-lavendar;
                    fill: $dash-color-font;

                }
            }

            &:hover,
            &.active {
                color: $admin-color-highlite;

                span {
                    transform: rotate(180deg);

                    svg {
                        fill: $admin-color-highlite;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 768px){

    .profile-pic-container {
        .pic-name {
            .name-icon {
                display: flex;
            }
        }
    }
}