@import '../assets/styles/variables';

.profile-pic-container {
    display: inline-block;
    position: relative;

    .pic-name {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .pic-image-filler {
            height: 40px;
            width: 40px;
            // background: green;
            background: lighten(lightseagreen, 10%);
            border-radius: 5px;
        }

        .name-icon {
            align-items: center;
            padding-left: 10px;

            span {
                display: flex;
                margin-left: 10px;
                transition: transform 0.4s;

                svg {
                    fill: $dash-color-font;

                }
            }

            &:hover,
            &.active {
                color: $admin-color-highlite;

                span {
                    transform: rotate(180deg);

                    svg {
                        fill: $admin-color-highlite;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 768px){
    .profile-pic-container {
        .pic-name {
            .name-icon {
                display: flex;
            }
        }
    }
}