@import '../assets/styles/variables';

.dash-select,
.custom-select {
    position: relative;

    label {
        text-align: left;
        font-size: 14px;
        letter-spacing: 1.2px;
    }
}

.dash-select select,
.custom-select select {
    border: 2px solid #7E92A3;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 10px !important;
    background: white;
    outline: none;
    cursor: pointer;
}

.custom-select .arrow {
    position: absolute;
    right: 16px;
    top: 11px;
    border: solid #7E92A3;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    pointer-events: none;
}


// DASHBOARD SELECT COMPONENT STYLES


.dash-select select {
    border: none;
    background: $admin-color-body;
    border-radius: 5px;
}

.dash-select .arrow {
    position: absolute;
    right: 16px;
    top: 10px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid $admin-color-lavendar;
    pointer-events: none;
}