@import '../assets/styles/variables';

// .slideout-fadein-show {
//     opacity: 1;
// }

// .slideout-fadein-hide {
//     opacity: 0;
// }

.slideout-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    // height: 100%;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: scroll;
    // background: green;

    &-hide {
        transition-delay: 0.5s;
        transform: translate(-100vw, 0);
    }

    // slide from right
    &-hide.right {
        transform: translate(100vw, 0);
    }

    // slide from right
    &.right {
        right: 0 !important;
        left: auto;
    }

    .slideout-opacity-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.5s ease;
        background: rgba(0,0,0,0.5);
    }

    .slideout-fadein-show {
        opacity: 1;
    }
    
    .slideout-fadein-hide {
        opacity: 0;
    }

    .slideout-child-container {
        // background: palegoldenrod;
        height: 100%;
        // width: 100%;
        width: 80vw;
        display: flex;
        z-index: 20;
        // background: green;
        overflow: hidden;
        transition: transform .35s cubic-bezier(.25, .1, .25, .1);

        &.right {
            position: absolute;
            right: 0;
        }

        .slideout-close-btn {
            border: none;
            position: absolute;
            right: 10px;
            font-size: 30px;
            padding: 10px;
            cursor: pointer;
            color: $main_font_color;

            // &.bluebg {
            //     color: $white_color;
            // }
        }
    }

    .slideout-close-bar {
        width: 20vw;
        height: 100%;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        &.right {
            left: 0;
            right: auto;
        }
    }

    .slideout-child-hide {
        transform: translate(-100vw, 0);

        &.right {
            transform: translate(100vw, 0);
        }
    }

    .slideout-child-show {
        transform: translate(0vw, 0);

    }

}



@media only screen and (min-width: 768px) {


    .slideout-container {
        // background-color: rgba(0,0,0,0.5);
        // position: absolute;
        
        &.sticky {
            max-width: 260px;

            right: 0;
            left: auto;
            
            position: sticky;

            .slideout-close-bar {
                display: none;
            }
        }

        &-hide.sticky {
            transition-delay: 0s;
            transform: translate(0vw, 0) !important;
        }

        .slideout-child-container {
            width: auto;
        }

        // &-hide {
        //     // transition-delay: 0s;
        //     // transform: translate(0vw, 0);
        //     // transform: translate(0vw, 0);

        // }

        // &-show {
        //     // transition-delay: 1s !important;
        // }

        // .slideout-opacity-bg {
        //     display: none;
        // }

        .slideout-close-bar {
            // background: blue;
            // display: none;
            width: 100%;
            z-index: 2;
            cursor: default;

        }

        .slideout-child-hide {
            transform: translate(0vw, 0);
        }
    }
}