
.snack-bar-container {
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 100000;
    display: flex;

    .snack-bar-full-width-filler {
        display: none;
    }

    .snack-bar-content {
        padding: 12px 40px 12px 12px;
        border: 1px solid;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        text-align: center;
        width: 100%;
    }

    .sb-alert {
        background: lightskyblue;
        border-color: blue !important;
    }

    .sb-error {
        background: #ffcccb;
        border-color: #ff3727 !important;
    }

    .sb-success {
        background: #c7ffc0;
        border-color: #24a300 !important;
    }
    

    .snack-bar-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        border-radius: 50px;
        border: 1px solid;
        align-self: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 10px;
        cursor: pointer;
    }
}

.snack-bar-add {
    animation: snack-slide ease-in forwards;     // animation duration set in SnackBar.js
}

.snack-bar-remove {
    animation: snack-slide-out ease-in forwards;  // animation duration set in SnackBar.js
}

@keyframes snack-slide {
    0%   { top: -100px }
    100% { top: 70px }
    // 0%   { opacity: 0; }
    // 100% { opacity: 1; }
}

@keyframes snack-slide-out {
    0%   { top: 70px }
    100% { top: -100px }
    // 0%   { opacity: 1; }
    // 100% { opacity: 0; }
}


@media only screen and (min-width: 768px){

    .snack-bar-container {
        width: 100%;
        right: 0px;

        .snack-bar-full-width-filler {
            width: 25%;
            max-width: 260px;
            background: blue;
            height: 100%;
            display: block;
        }
    }

}