
.snack-bar-container {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 0 20px;
    z-index: 10000000;

    &.snack-bar-visible {
        display: block;
    }

    .snack-bar-content {
        // background: lightskyblue;
        // background: #ffcccb;
        padding: 12px;
        border-radius: 3px;
        border: 1px solid;
        border-color: blue;

        animation: snack-slide ease-in;     // animation duration set in SnackBar.js
    }

    .snack-bar-remove {
        animation: snack-slide-out ease-in;  // animation duration set in SnackBar.js
    }

    .sb-alert {
        background: lightskyblue;
        border-color: blue;
    }

    .sb-error {
        background: #ffcccb;
        border-color: #ff3727 !important;
    }

    .sb-success {
        background: #c7ffc0;
        border-color: #24a300 !important;
    }
    

    .snack-bar-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        border-radius: 50px;
        border: 1px solid;
        position: absolute;
        // background: lightskyblue;
        top: -8px;
        right: 10px;
        cursor: pointer;
        animation: snack-slide ease-in;     // animation duration set in SnackBar.js
    }
}


@keyframes snack-slide {
    // 0% { right: -100% }
    // 100% { right: 0% }

    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes snack-slide-out {
    // 0% { right: -100% }
    // 100% { right: 0% }

    0%   { opacity: 1; }
    100% { opacity: 0; }
}


@media only screen and (min-width: 768px){

    .snack-bar-container {
        width: auto;
        right: 10px;
    }

}