
.teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .division-container {
        padding: 20px 0;
        min-width: 200px;
        flex-grow:0;
        flex-shrink:0;
        flex-basis:calc(50% - 10px); /* separate properties for IE11 upport */

        h2 { 
            padding: 0;
        }

        p {
            padding: 2px 10px 2px 0;
            margin-top: 7px;
        }
    }
}


@media only screen and (min-width: 768px){

    .teams-container {
        justify-content: start;
    
        .division-container {
            margin-right: 40px;
            flex-basis: 0 ; /* separate properties for IE11 upport */
        }
    }
}